/* 設定エディタ上の共通書式 */

* {
    box-sizing: border-box;
}

p {
    font-size: 0.8em;
    line-height: 1.4em;
    margin: 2px 2px 8px 2px;
}

/* p 要素内で協調したい部分に付与 */
p .accent {
    border-radius: 4px;
    padding: 2px 4px;
    background: var(--dark-main-color);
    font-weight: bold;
    font-size: 0.9em;
}

button {
    height: 24px;
    padding: 0px 8px;
    font-size: 0.8em;
    background: white;
    color: black;
}
input {
    text-align: center;
    background: var(--dark-main-color);
    color: white;
    border: 1px solid var(--dark-accent-color);
    border-radius: 4px;
    min-width: 32px;
    width: 100%;
}
button:hover {
    background: orange;
}

table {
    border: none;
    white-space: nowrap;
    margin-bottom: 4px;
    table-layout: fixed;
}

th {
    font-size: 0.8em;
    line-height: 1em;
    padding: 0px 4px;
}
th.no {
    width: 2em;
}
th.reference {
    width: 4em;
}
th.delete {
    width: 30px;
}

td {
    font-size: 0.8em;
    padding: 0px 4px;
    line-height: 0.5em;
}

td.delete-box button {
    height: 8em;
}

td button {
    height: 20px;
    line-height: 0.5em;
    font-weight: bold;
    background: pink;
    border: 1px solid black;
    border-radius: 4px;
}
td button:hover {
    font-weight: bold;
    background: tomato;
}

td select {
    width: 100%;
    text-align: center;
    background: var(--dark-main-color);
    border-radius: 4px;
}
select.with-bg-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: local;
    padding-left: 20px;
}
select.with-bg-img option {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: local;
}

td img {
    width: 20px;
    height: 20px;
}

button.additional-button {
    height: 20px;
    line-height: 0.5em;
    font-weight: bold;
    background: lightgreen;
    padding: 0px 64px;
}
button.additional-button:hover {
    background: green;
}

select {
    background: var(--dark-main-color)
}

div.section-frame {
    flex: 1;
}

/* 非表示にしたい要素に適用 */
.hide {
    visibility: hidden;
}

/** エラー要素に適用 */
.error {
    background: red !important;
}
